.site-header{
    background-color: #1bbc9b;
    color: #edf5f3;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #045847 2px 5px 5px;
}

.site-text{
    margin: 10px;
}

body{
    margin: 0;
}

.course-link{
    color: #edf5f3;
}